.flex-conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-element {

}

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about-1,
.about-2,
.about-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.about-3-2 {
    flex-basis: 30%;
}

.specialization {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.specialization-1,
.specialization-2,
.specialization-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.specialization-2-1,
.specialization-3-2 {
    flex-basis: 30%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}